Source: com.github.bartzaalberg.snaptastic
Section: utils
Priority: optional
Maintainer: Bart Zaalberg <bartzaalberg@gmail.com>
Build-Depends: cmake (>= 2.6),
               cmake-elementary,
               debhelper (>= 9),
               libgranite-dev,
               libgtk-3-dev,
               valac (>= 0.26),
               libsnapd-glib-dev

Package: com.github.bartzaalberg.snaptastic
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, snapd, ttf-ubuntu-font-family
Pre-Depends: dpkg (>= 1.15.6)
Description: Snaptastic
 Manage your snap files
