@define-color textColorPrimary #fff;
@define-color textColorPrimaryShadow shade(@colorPrimary, 0.85);

.h1,
.h2 {
    font-family: Ubuntu;
}

.h2 {
    color: @colorPrimary;
}

.view-mode-button {
    color: @fff;
    text-shadow: 0 1px @textColorPrimaryShadow;
}

.detail-view-banner {
    background-color: #F5F5F5;
}

.detail-view-banner-title {
    font-family: Ubuntu;
    font-size:30px;
}

