[Desktop Entry]
Name=SnapCenter
GenericName=SnapCenter
Comment=Application to manage snaps
Categories=Utility;Network;Development;
Exec=com.github.bartzaalberg.snapcenter %U
Icon=com.github.bartzaalberg.snapcenter
Terminal=false
MimeType=application/vnd.snap;
Type=Application
X-GNOME-Gettext-Domain=snapcenter
Keywords=GUI;Snaps;
