[Desktop Entry]
Name=Snaptastic
GenericName=Snaptastic
Comment=Application to manage snaps
Categories=Utility;System;Network;Development;
Exec=com.github.bartzaalberg.snaptastic %U
Icon=com.github.bartzaalberg.snaptastic
Terminal=false
MimeType=application/vnd.snap;
Type=Application
X-GNOME-Gettext-Domain=snaptastic
Keywords=GUI;Snaps;
