[Desktop Entry]
Name=Snaptastic
GenericName=Snaptastic
Comment=Application to manage snaps
Comment[lt]=Programa, skirta tvarkyti snap paketus
Categories=Utility;System;Network;Development;
Exec=com.github.bartzaalberg.snaptastic %U
Icon=com.github.bartzaalberg.snaptastic
Terminal=false
MimeType=application/vnd.snap;x-scheme-handler/snap;
Type=Application
X-GNOME-Gettext-Domain=snaptastic
Keywords=GUI;Snaps;
Actions=AboutDialog;

[Desktop Action AboutDialog]
Exec=xdg-open appstream://com.github.bartzaalberg.snaptastic.desktop
Name=About Snaptastic
Name[lt]=Apie Snaptastic

